@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Doodle+Shadow&display=swap');


li,
ol,
ul {
  list-style-type: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html,
body {
  height: 100dvh;
  overflow: hidden;
  font-family: 'Rubik Doodle Shadow', cursive;

}

.boldFancy {
  font-family: 'Anton', sans-serif;
}

.bg-dots {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 2px, transparent 1px);
  background-size: 13px 13px;
}

.btn-grad {
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%);
  background-size: 200% auto;
  color: white;
  display: block;
}

.btn-grad:hover {
  background-position: right center;

}